@-ms-viewport {
    width: device-width;
  }


.blur-all {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;

    filter: blur(50px);
    -webkit-filter: blur(50px);
	-moz-filter: blur(50px);
	-o-filter: blur(50px);
	-ms-filter: blur(50px);
	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' ><filter id='svgMask'><feGaussianBlur stdDeviation='50' /></filter></svg>#svgMask");
}


* {
    transition-delay: 0.0s;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.91, 0.13, 0.06, 0.87)
}


.loader-wrap{
	height:100vh;
	width:100vw;
	position:fixed;
	z-index:2147403647;
	left:0;
	top:0;	
	/*todo: implement backdrop-filter into this: https://developer.mozilla.org/en-US/docs/Web/CSS/backdrop-filter
		only for webkit and edge.
	*/
}



.loader-done {
    transform: translateY( calc(-50vh + 115px));
    transition-timing-function: cubic-bezier(0.97, 0.07, 0.11, 0.93);

}

.nav-v2 .logo-anim-nav svg {
    transform: scale(0.7);
    transform-origin: center 55px;
}

.load-par{
    position: relative;
    height: 100vh;
    width: 259.5px;
    margin: auto;
}
.load-par img {
    height: 100%;
    width:auto;
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;    
}



#loader{
	width:150px;
	height:180px;
	display:block;
	padding:0;
	margin:0;
	z-index:999;
	position:absolute;
	transform-origin:center;
	left:calc(50vw - 90px);
	top:calc(50vh - 150px)
}





html {
    font-size: 58.5%;
    overflow-x: hidden;
}
  body {
    font-size: 2rem; /* currently ems cause chrome bug misinterpreting rems on body element */
    line-height: 1.6;
    font-weight: 400;
    color: #000; 
    background: #fff;
}


/* 
Fonts */
  
  p a {
      color: #d33682;
  }

  .navigation ul{
    text-transform: uppercase;
    font-family: 'Heebo', Arial, Helvetica, sans-serif;
    font-weight: 900;
    display: flex;
  }
  .nav-megaDropdown-bg ul {
    text-transform: none !important;
    font-size: 90%;
  }
  
  /* Roboto font family */ /* Classes: condensed + regular */
  body, p, span, a, b, i, em, small, strong, sub, sup, ins, del, mark {
      font-family: 'kanit', sans-serif;
  }
  small{color:rgba(0, 0, 0, 0.54)}
  .condensed{font-family:Roboto Condensed, roboto, sans-serif;}
  .regular{font-family:Roboto, sans-serif;}
  /* Defenition of these classes: thin, medium, black, light. See Google Typecast*/
  .regular.thin {font-weight:100;}
  .regular.medium{font-weight:500;}
  .regular.black{font-weight:900;}
  .regular.light,.condensed.light{font-weight:300;}
  .regular.normal,.condensed.normal{font-weight:400;}
  .regular.bold,.condensed.bold{font-weight:700;}
  
  
  h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-family: 'Heebo', Arial, Helvetica, sans-serif;
    font-weight: 700;
  }

  h1 {
    font-size: 2.8em;
    line-height: 1.3em;
}
  
h2 {
    line-height: 1.4em;
}
  .upper {text-transform: uppercase}

  .secondNav-v2 {
    margin-top: 110px;
}


/*
Navigations  */
.navigation .grid-container {
    display: flex;
}

.nav-secondary {
    position: static;
    height: 60px;
    width: 100%;
    float: none;
    border-top: #cfd8dc 20px solid;
    background: #fff;
}
.nav-secondary.secondNav-v2 {
    max-width: 700px;
    margin-left: auto;
    border-top: #cfd8dc 20px solid;
    background: #fff;
}

.nav-secondary .secondary-nav-feild {
    border: #cfd8dc 20px solid;
    border-top: #fff;
    background: #fff;
    padding: 0 1em 1em;
    padding-bottom: 0.5em;
    z-index: 3;
    top: -20px;
    /* width: 300px; */
    position: absolute;
    right: 40px;
    font-size: 0.85em;
    text-transform: uppercase;
    font-weight: 900;
}

.nav-secondary .secondary-nav-feild a {
    text-decoration: none;
    color: #002e62;
}



.nav-primary {
    position: fixed;
    top: 0; /* required */
    height: 55px;
    width: 100%;
    background: #fff;
    box-shadow: 0px 5px 29px 0px rgba(11,35,61,0.5);
}

.nav-v2.nav-primary {
    position: sticky;
    position: -webkit-sticky;
    box-shadow: 0px 1px 6px 0px rgba(11,35,61,0);

}

.navigation {
    z-index: 999;
}

.navigation > div {
    padding: 0 1.2em 0;
}

.nav-primary ul.nav-link-section {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
}

.nav-primary .nav-link-section > li {
    text-decoration: none;
    color: #000;
    line-height: 55px;
    display: inline-block;
}
.nav-primary .nav-link-section a {
    text-decoration: none;
    color: #000;
    padding: 0 1em 0;
    transform: translatey(1px);
}

.nav-v2 .nav-megaDropdown-bg {
    background: #fff;
    width: 100%;
    visibility: hidden;
    position: absolute;
    z-index: -5;
    /* margin-top: -1rem; */
    left: 0;
    position: fixed;
    height: 500px;
    box-shadow: 0px 5px 0px 0px rgba(11,35,61,0);
    transform: translateZ(0) translatex(-100%);
    transition-duration: 0.80s;
    transition-timing-function: cubic-bezier(0.81, 0.01, 0.06, 0.93);
    transition-delay: 0.25s;
    top: 64px;
   /* opacity: 0;*/
    text-align: left;
    padding-top: 60px;
    overflow-y: hidden;
}
.nav-v2 .nav-megaDropdown {
    width: 100%;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: -1rem;
    left: 0;
    position: fixed;
    height: 400px;
    top: 120px;
    text-align: left;
    display: block;
}

.nav-megaDropdown-bg {
    width: 100%;
    position: absolute;
    opacity: 1;
    margin-top: -1rem;
    left: 0;
    position: fixed;
    height: 400px;
    display: none;
  }
  .navbar-dropdown-wrap {
    opacity: 0;
    transform: translateX(-20%) scale(1.5);
    transition-duration: 0.80s;
    transition-timing-function: cubic-bezier(0.95, 0.01, 0.03, 1.03);
    transition-delay: 0.3s;
    
    display: block;
    visibility: unset;
  }
.nav-v2 .navbar-dropdown-wrap {
    transition-timing-function: cubic-bezier(0.95, 0.01, 0.03, 1.03);
    opacity: 0;
    transform: translatex(-30%) scale(1.5);
    transition-duration: 0.80s;
    transition-delay: 0.6s;
}
  .nav-megaDropdown-bg li {
    line-height: 1.2em;
  }
  .nav-megaDropdown-bg li a:hover {
    color: #B71C1C;
    }
  .nav-megaDropdown-bg {
    background-color: #fff;
    width: 100%;
    visibility: hidden;
    position: absolute;
    z-index: -2;
    margin-top: -1rem;
    left: 0;
    position: fixed;
    height: 400px;
    box-shadow: 0px 5px 0px 0px rgba(11,35,61,0);
    transform: translateY(-400px);
    transition-duration: 0.80s;
    transition-timing-function: cubic-bezier(0.81, 0.01, 0.06, 0.93);
    transition-delay: 0.25s;
}
.nav-megaDropdown-bg .grid-container {
    position: relative;
    display: block;
}
.nav-dropdown {
    display: block !important;
    padding: 0;
}

.nav-megaDropdown-bg li {
    display: block;
    padding: 0;
    line-height: initial;
}
.nav-v2 .dropdown-image {
    width: 100%;
    height: 320px;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateY(140%);
    transition-duration: 0.70s;
    transition-timing-function: cubic-bezier(0.81, 0.01, 0.06, 0.93);
    transition-delay: 0.45s;
    outline: rgba(0,0,0,0) 0px solid;
    outline-offset: 0;
    opacity: 0;
}
.dropdown-image {
    width: 100%;
    height: 320px;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateY(-50%);
    transition-duration: 0.70s;
    transition-timing-function: cubic-bezier(0.81, 0.01, 0.06, 0.93);
    transition-delay: 0.4s;
    outline: rgba(0,0,0,0) 0px solid; 
    outline-offset: 0;
}

.nav-drop-hover-wrapper .dropdown-image {
    transform: translateZ(0) translateY(0);
    outline: rgba(11,35,61,0.05) 40px solid;
    outline-offset: 40px;
    opacity: 1;
}
.nav-v2 .dropdown-image {
    margin-top: 80px;
}
.nav-v2 .fix-shadow {
    display: none !important;
}
.fix-shadow {
    box-shadow: 0px 5px 29px 0px rgba(11,35,61,0.5);
    left: 0;
    position: fixed;
    background: #fff;
    z-index: -1;
    height: 55px;
    top: 0px;
    width: 100%;
    display: block;
    opacity: 0;
    transition-duration: 0.80s;
    transition-delay: 1.2s;
    transition-timing-function: cubic-bezier(0.81, 0.01, 0.06, 0.93);
    transition-delay: 0.25s;
}
.nav-dropdown li a {
    padding: 0 !important;
}
.navbar-dropdown-wrap {
    padding-left: 6em;
    margin-top: 35px;
}
.navbar-dropdown-wrap h2 {
    margin-block-end: 0.5em;
}

.nav-v2 .links-1 {
    float: left;
    text-align: right;
    /*transform: translateX(15px);*/
    transform: none !important;
    margin-left: 15px !important;
}
/*
.nav-v2 .links-1:hover {
    transform: none !important;
    margin-left: 15px !important;
    transition: none;
}*/
.nav-v2 .links-1:hover ~ .links-2 {
   /* transition: none;
    transform: translateX(170px);*/
}

ul li:hover > .nav-megaDropdown-bg,
ul li:hover > .fix-shadow,
/*use until fixed
ul li:focus-within > .nav-megaDropdown-bg,
ul li:focus-within > .fix-shadow,
*/
.nav-megaDropdown:hover ~ .nav-megaDropdown-bg {
    visibility: visible;
    transform: translateZ(0) translate(0);
    display: block;
    opacity: 1;
}



/*ul li a:hover + .nav-megaDropdown,
ul li:hover > .nav-megaDropdown,*//*
ul li:focus-within > .nav-megaDropdown,
ul li:focus-within .nav-megaDropdown .navbar-dropdown-wrap {
    opacity: 1 !important;
    transform: translateX(0) !important;
    transition-delay: 5s;
}*/

.nav-drop-hover.navbar-dropdown-wrap {
    opacity: 1 !important;
    transform: translateX(0) !important;
}

ul li:hover > .nav-megaDropdown-bg{
    box-shadow: 0px 5px 29px 0px rgba(11,35,61,0.5);
}

.nav-v2 ul li:hover > .nav-megaDropdown-bg{
    box-shadow: 0px 28px 29px 0px rgba(11,35,61,0.5);
}

ul li ul li {
    clear: both;
    width: 100%;
}

.logo-space {
    height: 79px;
    overflow: visible;
    width: auto;
    float: left;
    /* margin-right: 1em; */
}
.logo-space img, .logo-space svg {
    height: 100%;
    width: auto;
}

a.nav-button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: #B71C1C 10px solid;
    transform: scaleX(0);
    transition-delay: 0.1s;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.4, 0.6, 0.13, 0.96);
}

a.nav-button:hover:before, li.nav-drop-hover-wrapper a.nav-button:before {
    transform: scaleX(0.5);
    
}

a.nav-button {
    position: relative;
    display: inline-grid;
    /* margin: 0; */
    /* padding: 0; */
}
  
.nav-v2 .links-2 {
    /* float: right; */
    text-align: left;
    transform: translateX(185px);
    /* left: 180px; */
}
.nav-v2 .links-1 {
    float: left;
    text-align: right;
    transform: translateX(15px);
}
.nav-v2 .logo-space {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    height: 135px;
    margin: 0;
}


.fix-blink-temp {
    position: fixed;
    background: #fff;
    z-index: -1;
    height: 55px;
    top: 0px;
    width: 100%;
    display: block; 
}
.nav-v2 .fix-blink-temp {
    display: none; 
}
.nav-break {
    height: 55px;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
    padding: 0 1em;
}
.nav-v2 .nav-break {
    padding: 0 !important;
}
.nav-break-its-free-real-estate {
    /* width: auto; */
    height: 55px;
    /* display: inline-flex; */
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.nav-v2 .nav-breaking-percau {
    
}
.nav-breaking-percau {
    position: relative;
    display: inline-grid;
    padding: 0;
    flex-grow: 1;
}

.nav-breaking-percau:before, .nav-breaking-percau:after  {
    content: ' ';
    position: absolute;
    height: 55px;
    width: 50px;
    top: 0;
    z-index: 1;
}
.nav-breaking-percau:after {
    left: 0;
    background: linear-gradient(90deg, rgba(255,255,255,1) 49%, rgba(255,255,255,0) 100%);
}
.nav-breaking-percau:before {
    right: 0;
    background: linear-gradient(270deg, rgba(255,255,255,1) 49%, rgba(255,255,255,0) 100%);
}

/* Nav header main*/
.nav-header-main .nav-breaking-percau {
    max-width: 870px;
}
.nav-header-main .nav-breaking-percau {
    width: 870px;
    position: relative;
    display: inline-grid;
    padding: 0;
    flex-grow: 0;
}
.nav-primary.navigation.nav-header-main {
    background: none;
    box-shadow: none;
    transform: translateY(3rem);
}

.nav-header-main .grid-container.fluid {
    padding-right: 4.5rem !important;
    padding-left: 4.5rem !important;
    max-width: 100%;
    margin: 0 auto;
    height: 55px;
}

.navigation-button-wrap {
    position: relative;
    display: inline-flex;
    padding: 0;
    flex-grow: 1;
    flex-shrink: 1;
    /* width: 100%; */
    /* align-content: flex-end; */
    /* float: right; */
    height: 55px;
    margin-left: auto;
    order: 2;
}
.nav-header-main  .navigation-button-wrap {
    flex-grow: 0;
    box-shadow: 0px 5px 29px 0px rgba(11,35,61,0.5);
}
.nav-header-main .search-button {
    /*margin-right: 20px;*/
}

/* Header temp */
header {
    /*height: calc(100vh - 115px);*/
    height: calc(100vh - 40px);
    width: 100%;
    /*outline: #002e62 40px solid;*/
}

.hero-header-wrapper h1 {
    /*font-size: 3.2em;*/
    font-size: 9.2vh;
    line-height: 1em;
    text-align: center;
    margin: 0 0 0.67em 0;
}
.rellax {
    transition: none;
}
header.front-page-slider, header.front-page-art-wrap {
    margin: 0 auto 135px !important;
}
header .front-page-art {
    overflow-y: hidden;
    height: calc(100vh - 40px)
}
.header-art-button {
    position: sticky;
    display: inline-flex;
    bottom: 0;
    padding: 0 4.5rem 0;
    width: 100%;
    justify-content: space-between;
}
.header-art-button #line-thingo {
    margin-bottom: 2em;
    height: 81.2px;
    width: auto;
}
.header-art-button .discover-button {
}

/* Art */
.header-illustration {
    max-width: 555px;
}
#header-libra.pillar-item {
    margin: auto;
    height: 220px;
    width: 100px;
}
.pillar-item {
    width: 220px;
    display: inline-flex;
    transition: none;
}
.pillar-item * {
    transition: none !important;
}
.pillar-item::after {
    content: "";
    position: absolute;
    background: url(../img/header-artwork/header-artwork_blue-pillar.svg);
    height: 700%;
    width: 150px;
    z-index: -1;
    top: 120px;
    background-size: contain;
    transform: translateX(-17%);
    background-repeat: no-repeat;
}
#header-shoe.pillar-item::after {
    content: "";
    position: absolute;
    background: url(../img/header-artwork/header-artwork_red-pillar.svg);
    height: 700%;
    width: 150px;
    z-index: -1;
    top: 107px;
    left: 50%;
    background-size: contain;
    transform: translateX(-50%);
    background-repeat: no-repeat;
}
#header-torch.pillar-item::after {
    content: "";
    position: absolute;
    background: url(../img/header-artwork/header-artwork_yellow-pillar.svg);
    height: 700%;
    width: 173px;
    z-index: -1;
    top: 120px;
    left: 50%;
    background-size: contain;
    transform: translateX(-39%);
    background-repeat: no-repeat;
}

#header-shoe {
    transform: translateY(100px); 
}
#header-torch {
    transform: translateY(200px); 
    z-index: 3;
}
#header-libra.pillar-item img {
    width: 100%;
    height: auto;
}
#header-illustration-wrap {
    transform: translateY(-120px);  
}

/* Slider */
.slide-wrapper:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.slide-wrapper {
    display: block;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;

    outline: #ffffff 40px solid;
    outline-offset: -40px;
    transform: translatey(-40px); 
    user-select: none;
    
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    
    scroll-snap-points-x: repeat(100%);
    scroll-snap-destination: 0 0;
    scroll-snap-type-x: mandatory;

    -webkit-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    perspective: 1px;
    transform-style: preserve-3d;
    
}

.slide-nav-buttons {
    position: absolute;
    top: -80.22px;
    right: 0px;
    margin: 0;
    padding: 0;
    flex: 0;
    display: inline-flex;
}

.slide-nav-buttons .btn {
    border: #002e62 40px solid;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 900;
    font-family: 'Heebo', Arial, Helvetica, sans-serif;
    color: #002e62;
    padding: 0em 0.3em;
    background: #ffffff;
    cursor: pointer;
    line-height: 39px;
    font-size: 40px;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(1, 0.43, 0.14, 0.64);
}
.slide-nav-buttons .btn:hover {
    padding: 0em 1em;
}


.slide-nav-buttons .btn.prev {
    margin-right: -40px;
}

.slide-messengers-within {
    padding: 40px 40px 0 0;
    width: 40%;
    left: 0;
    position: sticky;
    outline: #002e62 40px solid;
    outline-offset: 0px;
    /* overflow: visible; */
    /* margin-top: 50vh; */
    top: 50%;
    clip: unset;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.slides {
    height: 100%;
    width: 100%;
    display: inline-block;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-size: cover;
    scroll-snap-align: center;
    background-position: center;
    position: relative;
}

.slide-wrapper:active .slide-images {
    transform: scale(0.8);
}
.slide-images {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;  
    position: absolute;
    flex-shrink: 0;
    top:0;  
    z-index: -1;
    transition-delay: 0.25s;
    transition-duration: 0.3s;
transition-timing-function: cubic-bezier(1, 0.43, 0.14, 0.64);
}


/* no longer used :D
.slides img {
    width: 100%;
}
*/


.slide-messengers {
    bottom: 0;
    /* background-size: 50%; */
    /* background-position: center; */
    /* background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 30%, rgba(240, 47, 23, 0) 80%, rgba(231, 56, 39, 0) 100%); */
    left: 0;
    /* background: #ffc400; */
    position: absolute;
    /* transform: translateY(-40%); */
    /* padding-bottom: 2.5rem; */
    /* padding: 2em 3.5em; */
    /* height: calc(100vh - 120px); */
    outline: #002e62 40px solid;
    outline-offset: 0px;
    padding: 40px 40px 0 0;

}
.slide-message {
    background: #ffc400;
    padding: 0.5em 2em 0.5em 5em;
    min-height: 50.1vh;
}
.line-border-deco {
    width: 60%;
    height: 40px;
    background: #002e62;
    position: sticky;
    bottom: 0;
    right: 0;
    float: right;
    z-index: 1;
    /* transform: translatey(-40px); */
}

.line-border-deco-addit{
    width: 60%;
    height: 40px;
    position: relative;
    bottom: 0;
    right: 0;
    float: right;
    z-index: 1;
    margin-top: -40px;
}

@supports (-ms-ime-align:auto) {
    .line-border-deco-addit {
        display: none;
    }
}

.line-border-deco-addit:before, .line-border-deco-addit:after {
    content: "";
    width: 40px;
    height: 80px;
    background: #002e62;
    right: 0;
    z-index: 1;
}
.line-border-deco-addit:before {float: left;} .line-border-deco-addit:after {float: right;}



/* */
/*
.tiles-col-2 {
    background: #002e62; 
} */
.news-events-tile {
    background: #ffc400;
    background-size: 110% !important; 
    position: relative;
    transition-timing-function: cubic-bezier(1, 0.43, 0.14, 0.64);
}

.news-events-tile:hover {
    background-size: 130% !important; 
    position: relative;
    transition-property: background-size;
    transition-timing-function: cubic-bezier(0.75, 0.39, 0.27, 0.65);
}

.news-events-tile:before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
    background-image: linear-gradient(135deg, rgba(255,196,0,1) 52%, rgba(255,255,255,0) 100%);
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(1, 0.43, 0.14, 0.64);
}

.news-events-tile a {
    text-decoration: none;
    color: #000;
    padding: 2em 3.5em;
    display: block;
    position: relative;
    overflow: hidden;
    outline: #ffffff solid 0;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(1, 0.43, 0.14, 0.64);
        background-size: cover;
}

.news-events-tile.secondary--n-e a {
    padding: 1em 3.5em;
}

.news-events-tile a:hover {
    outline: #ffffff solid 20px;
outline-offset: -20px;
background:rgba(255,196,0,1);
}

.news-events-tile a:active {
    outline: #ffffff solid 30px;
    outline-offset: -30px;
    background:rgba(255,196,0,1);
}

@keyframes shine {
    0% {transform:translateX(-130%) scale(3) rotate(45deg); opacity:1; 
    }
    100% {transform:translateX(150%) scale(3) rotate(45deg); opacity:1; 
        }
    }
.news-events-tile a:hover:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: rotate(45deg);
    transform-origin: center;
    animation: shine 1s infinite 2s;
    opacity:0; 
    background: linear-gradient(to right, 
    rgba(255, 255, 255, 0) 0%, 
    rgba(255, 255, 255, 0) 40%,
    rgb(255, 255, 255) 40%,
    rgb(255, 255, 255) 55%, 
    rgba(255, 255, 255, 0) 55%,
    rgba(255, 255, 255, 0) 100%);
}
 

.discover-tile {
    outline: #002e62 20px solid;
    outline-offset: -20px;
    width: initial;
    position: relative;
    transition-delay: 0;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(1, 0.43, 0.14, 0.64);
}

.tiles-col-2 .discover-tile.primary--d .discover-tile-content {
    padding: 1.5em 3.5em;
    margin: 0;
    width: 100%;
    text-align: left !important;
}

.tiles-col-2 .discover-tile.primary--d .discover-tile-content h2 {
    text-align: left !important;
}

.discover-tile.secondary--d {
    margin-top: 0 !important;
    outline: none;
    position: relative;
    background-color: rgb(229, 57, 53);
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
} 

.discover-tile.secondary--d:active {
    transform: scale(0.9)
}

.discover-tile.secondary--d:hover {
    outline:0;
}


.discover-tile.secondary--d a {
    text-decoration: none;
    color: #fff;
    padding: 2em 3.5em;
    display: block;
    position: relative;
    overflow: hidden;
    outline: #ffffff solid 0;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(1, 0.43, 0.14, 0.64);
        background-size: cover;
}
.discover-tile.secondary--d  a:hover {
    outline: #ffffff solid 20px;
outline-offset: -20px;
background:rgba(229, 57, 53, 0.9),
}
.discover-tile.secondary--d  a:active {
    outline: #ffffff solid 10px;
    outline-offset: -9px;
}

.cell .discover-tile ~ .discover-tile {
    margin-top: -20px;
}


.discover-tile:hover{
    outline-offset: -30px;
    outline: #00254e 20px solid;
}
.discover-tile-content {
    text-align: center;
    width: 70%;
    margin: auto;
    padding: 15% 0;
}

.discover-tile-content p {
    padding-bottom: 20px;
}


.discover-tile.primary--d img {
    max-width: 120px;
}

.discover-tile:after {
  content: "";
  display: block;
}

.nav-header-main .logo-space {
    height: 140px;
    transform: translateY(-5px);
}


a.discover-button {
    border: #002e62 20px solid;
    padding: 0.3em 1.2em;
    text-transform: uppercase;
    text-decoration: none;
    font-weight:900;
    font-family: 'Heebo', Arial, Helvetica, sans-serif;
    color: #002e62;
    text-align: center;
    transition-delay: 0;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(1, 0.43, 0.14, 0.64);
    margin-bottom: 2em;
    display: inline-block;
}
.overlay a.discover-button {
    border: #ffffff 20px solid;
    color: #ffffff;
}

.discover-tile .discover-button {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 0;
}

.discover-button:hover {
    padding: 0.3em 1.5em;
}


.discover-tile:hover a.discover-button {
    bottom: 10px;
    right: 10px;
    padding: 0.3em 1.5em;
}

section {
    padding: 50px !important;
    margin: 80px auto !important;  
}

main {
    padding: 120px 50px;
    max-width: 960px;
    margin: auto;
}

main p {
    margin-bottom: 2.5em;
}

section#ourCommunity{
    padding: 0 !important; 
}

#ourCommunity #ytplayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 73.3%;
}

.background-vid {
    position: relative;
    top: 50%;
    left: 0;
    padding-top: 56.25%;
    width: 100%;
    /* -webkit-transform: translateY(-50%); */
    /*-ms-transform: translateY(-50%);*/
    /* transform: translateY(-50%); */
    /* -webkit-transition: 2s opacity ease; */
    /* transition: 2s opacity ease; */
    /* opacity: 1; */
}

/*
Sections
*/
section#extracurricular {
    background-color: #fff;
    min-height: 90vh;
    height: auto;
}

section#extracurricular .video_wrap {
    height: 70%;
    width: 100%;
    transform: scale(1.5) translateX(-51%);
    position: absolute;
    left: 0;
    overflow: hidden;
    top: 0;
    margin: 0;
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
    background-image: url(../img/leadership-maribyrnong-art.svg);
}

section#extracurricular .overlay {
    background-color: rgba(255, 255, 255, 0.9);
    background: rgba(255, 255, 255, 0.9);
    color: #000;
}
section#extracurricular .inner {
    margin-top: 10rem;
}
section#extracurricular .overlay a.discover-button {
    border: #002e62 20px solid;
    color: #002e62;
}

section#extracurricular .info-wrapper {
    padding-top: 20px;
}

section#extracurricular .info-wrapper p {
    font-weight: 500;
}


/*video */
.page-banner {
    /* text-align: center; */
    position: relative;
    background-color: #00176e;
    color: #ffffff;
    height: 86vh;
    overflow: hidden;
    display: grid;
    padding: 0 !important;
  }
.page-banner {
    /* text-align: center; */
    position: relative;
    background-color: #00176e;
    color: #ffffff;
    height: 86vh;
    overflow: hidden;
    width: 100%;
    display: grid;
    padding: 0 !important;
  }
  section .inner {
    margin-top: 170px;
}
  .bg-image {
    background-size: cover;
    background-position: center center;
  }
  .overlay {
    position: relative;
    background-color: rgba(0, 46, 98, 0.9);
    /*
    background: linear-gradient(135deg, rgba(0,46,98,0.9) 0%, rgba(255,196,0,0.8) 100%);*/
    height: 100%;
    width: 100%;
    z-index: 2;
  }

  .video_wrap {
    height: 100%;
    width: 100%;
    position: absolute;
    left:0;
    overflow: hidden;
    top: 0;
    margin: 0;
    padding: 0;
  }
  .video_wrap iframe {
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    margin:0;
  }

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*
Gallery
*/
.gallery-small {
    position: relative;
}
.gallery-small-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    width: 48vw;
    height: 350px;
    padding-left: 50px;
    margin-top: 75px;
    position: relative;
}
.gallery-small-wrapper .discover-tile {
    display: inline-block;
    width: 300px;
    height: auto;
    display: inline-block;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-size: cover;
    scroll-snap-align: center;
    background-position: center;
    position: relative;
    padding: 40px 40px;
    
}
.gallery-small-wrapper .gallery-image {
    width: 100%;
    height: 95px;
    background-size: cover;
}
.gallery-small-wrapper .discover-tile .gallery-image ~ * {
    margin-left: 20px;
}
.gallery-small-wrapper .discover-tile p{
    margin-top: 0 !important;
    line-height: 1.5em;
}
.gallery-small .discover-tile h3{
    margin-block-end: 0.5em;
    line-height: 1.2em;
}
.gallery-small:after {
    left: 0;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    content: ' ';
    position: absolute;
    height: 100%;
    width: 80px;
    top: 0;
    z-index: 1;
}
.leadership {
    border: #00254e 10px solid;
}


.gallery-small-wrapper .discover-tile ~ .discover-tile {
    margin-top: 0;
    margin-left: -20px;
}


/* footer
*/
footer {
    min-height: calc(100vh - 55px);
    background: url(../img/marby-logofooter-bg.svg), #1C3068;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: right;
    border: #000 20px solid;
    padding: 50px 0 20px;
    color: #ffffff;
}
footer .grid-container .grid-x .cell.ftr-fst {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* height: 70vh; */
    height: calc(100vh - 55px - 110px);
}

.footer-widget {
    color: #fff;
}
.footer-widget ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    padding:0;
}
.footer-widget li{
    font-size: 0.8em;
}
.footer-widget a {
    text-decoration: none;
    color: #ffffff;
}
.footer-widget h3 {
    margin: 0.7em 0;
}
footer p {
    font-size: 0.65em;
}

.search-sym {
    display: inline-flex;
    /* position: relative; */
    /* content: ""; */
    width: 20px;
    height: 20px;
    /* padding-top: 10px; */
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    /* background-position-y: 5px; */
    transform: translateY(4px);
}
.search-sym {
    display: inline-flex;
    /* position: relative; */
    /* content: ""; */
    width: 20px;
    height: 20px;
    /* padding-top: 10px; */
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    /* background-position-y: 5px; */
    transform: translateY(4px);
    transform-origin: right bottom;
    margin: 13px !important;
}


.search-sym:hover {
    animation: circle-around 1.5s infinite;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1)
} 
.search-button {
    padding: 0 !important;
    margin-left: 1em;
    opacity: 1;
    transform: translateX(0px) scale(0px) !important;
    /*position: absolute !important;*/
    height: 55px;
    transition-delay: 0.2s;
}

.nav-v2 .search-button {
    /* float: right; */
    transform: translateX(20px) scale(0.5) !important;
    opacity: 0 !important;
}
.nav-v2 .search-sym {
    display: none;
}

@keyframes circle-around {
    0% { transform:translate(0, 4px) rotate(0deg) scale(1) } 
    50% {
        transform: translate(-4px, 4px) rotate(20deg) scale(1.1)
    }
    100% { transform: translateY(0, 4px) rotate(0deg) scale(1) } 
}


  /* Small only */
@media screen and (max-width: 39.9375em) {
    .slide-message {

        background: none;
        padding: 0.5em 2em 0.5em 5em;
        min-height: 50.1vh;
        color: #fff;
        background-image: linear-gradient(0deg, rgb(255, 196, 0) 52%, rgba(255,255,255,0) 100%);
    
    }
    .slide-wrapper {
        scroll-behavior: auto;
        overflow-x: scroll;
    }
    .slide-messengers-within {
        padding: 40px 40px 0 0;
        width: 100%;
        left: 0;
        position: sticky;
        outline:none;
        outline-offset: 0px;
        overflow: visible;
        margin-top: 0;
        top: 50%;
        clip: unset;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }    
    .slide-nav-buttons {
        display:   none;
    }
    .links-1, .links-2 {
        display: none !important;
    }

    h1 {
        font-size: 2em;
        line-height: 1.3em;
    }

    main {
        padding: 120px 26.5px;
        max-width: 960px;
    }
    footer {
        padding: 50px 20px 20px;
    }
    footer .grid-container .grid-x .cell.ftr-fst {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        /* height: 70vh; */
        height: auto;
    }
    footer .grid-container .grid-x .cell {
        margin-bottom: 1rem;
    }
}

/* Medium and up */
@media screen and (min-width: 40em) {}

/* nav break point */
/*before it breaks (normal state)*/
@media only screen and (min-width: 63.9375em) and (max-width: 1128px)  {
    .nav-v2 .links-2 {
        transform: translateX(calc(-962px + 100vw));
    }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    footer {
        padding: 50px 50px 20px;
    }
    .discover-tile.secondary--d a {
        padding: 2em 1.5em;
    }
    .slide-message {
        padding: 0.5em 2em 0.5em;
        min-height: 50.1vh;
    }
    .nav-v2 .nav-breaking-percau {
        display: none;
    }
    .nav-v2 .nav-hamburger {
        display: none;
    }
    .nav-hamburger {
        display: inline-grid;
        float: right;
    }
    .nav-breaking-percau {
        display: inline-grid;
    }
    section#extracurricular .video_wrap {
        height: 100%;
        width: 100%;
        transform: scale(1.5);
        position: absolute;
        left: 0;
        overflow: hidden;
        top: 0;
        margin: 0;
        background-attachment: fixed;
        padding: 0;
        background-image: url(../img/leadership-maribyrnong-art.svg);
    }
    
}

/* Large and up */
@media screen and (min-width: 64em) {
    .nav-breaking-percau:before {
        background: linear-gradient(270deg, rgba(255,255,255,0) 49%, rgba(255,255,255,0) 100%);
    }
    .nav-breaking-percau:after {
        background: linear-gradient(270deg, rgba(255,255,255,0) 49%, rgba(255,255,255,0) 100%);
    }
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* smartphones, touchscreens */
@media (hover: none) and (pointer: coarse) {
    .nav-break {
        overflow-x: scroll;
    }
    .slide-wrapper {
        scroll-behavior: auto;
        overflow-x: scroll;
    }
    .slide-wrapper {
        outline: none;
    }
    .slide-images {
        outline: #ffffff 40px solid;
        outline-offset: -40px;
    }    
    .slide-wrapper:active     .slide-images {
        outline: #ffffff 50px solid;
        outline-offset: -50px;
    } 
   
    @supports (backdrop-filter: none) {
        /*
        test
      .nav-megaDropdown-bg {
          backdrop-filter: blur(50px);
          background-color: rgba(255, 255, 255, 0.5) !important;
      }*/ 
        .blur-all {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            opacity: 0.5;
    
            filter: none;
            -webkit-filter: none;
            -moz-filter: none;
            -o-filter: none;
            -ms-filter: none;
        }
        .loader-wrap{
            height:100vh;
            width:100vw;
            position:fixed;
            z-index:2147403647;
            left:0;
            top:0;	
            -webkit-backdrop-filter: blur(50px);
            backdrop-filter: blur(50px);
            background-color: rgba(255, 255, 255, 0.25) !important;
        }
        .loader-done {
            transform: none !important;
        }
        .loader-done.loader-wrap{
            -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
        }
        .loader-done .load-par {
            transform: translateY( calc(-50vh + 125px));
            transition-timing-function: cubic-bezier(0.97, 0.07, 0.11, 0.93);
        
        }
        
    }
}
/* stylus-based screens */
@media (hover: none) and (pointer: fine) {
    .nav-break {
        overflow-x: scroll;
    }    
    
}
/* mouse, touch pad */
@media (hover: hover) and (pointer: fine) {
    .nav-break {
        overflow-x: hidden;
    }
}
